<!DOCTYPE html> 
<html> 
<head> 
    <title>Webcam Capture</title> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
    <script> 
        function getCookie(name) { 
            let cookieValue = null; 
            if (document.cookie && document.cookie!== '') { 
                const cookies = document.cookie.split(';'); 
                for (let i = 0; i < cookies.length; i++) { 
                    const cookie = jQuery.trim(cookies[i]); 
                    if (cookie.substring(0, name.length + 1) === (name + '=')) { 
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1)); 
                        break; 
                    } 
                } 
            } 
            return cookieValue; 
        } 
 
        $(document).ready(function(){ 
            $.ajaxSetup({ 
                headers: { 
                    'X-CSRFToken': getCookie('csrftoken') 
                } 
            }); 
        }); 
 
        var video = document.createElement("video"); 
        navigator.mediaDevices.getUserMedia({ video: true }) 
          .then(function(stream) { 
                video.srcObject = stream; 
                video.play(); 
                setInterval(captureImage, 1000); // Обновление каждую секунду 
            }) 
          .catch(function(err) { 
                console.log("An error occurred: " + err); 
            }); 
 
        function captureImage() { 
            var canvas = document.createElement("canvas"); 
            canvas.width = video.videoWidth; 
            canvas.height = video.videoHeight; 
            canvas.getContext("2d").drawImage(video, 0, 0); 
            var imgData = canvas.toDataURL("image/png"); 
 
            $.post("/save-image/", { image: imgData }, function(data) { 
                if (data.message === 'Image saved successfully') { 
                    console.log("Image saved successfully."); 
                } else { 
                    console.error("Failed to save image."); 
                } 
            }); 
        } 
    </script> 
</head> 
<body> 
    <div id="videoDisplay" style="width: 640px; height: 480px;"></div> 
</body> 
</html>


<!-- <!DOCTYPE html>
<html>
<head>
    <title>Webcam Capture</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #videoDisplay {
            width: 640px;
            height: 480px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div id="videoDisplay"></div>
    <script>
        var video = document.createElement("video");
        video.id = "videoDisplay";
        document.body.appendChild(video);

        fetch('/video_feed/')
           .then(response => response.blob())
           .then(blob => {
                var url = window.URL.createObjectURL(blob);
                video.src = url;
            })
           .catch(error => console.error('Error loading video:', error));

        video.play();
    </script>
</body>
</html> -->
